<div class="full-width block-2" style="background-image:url();background-color:;color:;" id="block-2" data-aos="zoom-in">
    <div class="full-width block-2-1">
        <div class="ms-1200">
            <div class="ms-col-12 left" style="background:;color:;">
                <div>
                    <div class="callbacks_container">
                        <ul class="rslides">
                            <li style="position: relative">
                                <a href="images/files/c2.jpg" data-fancybox="block-2-content--module--contentchild-">
                                    <img alt="Title" src="images/files/c2.jpg" style="width:100%" />
                                </a>
                                <div class="ms-album1-description"></div>
                            </li>
                            <li style="position: relative">
                                <a href="images/files/c3.jpg" data-fancybox="block-2-content--module--contentchild-">
                                    <img alt="Title" src="images/files/c3.jpg" style="width:100%" />
                                </a>
                                <div class="ms-album1-description"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <style>.album1 {background: ;color: ;}</style>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    
    
</div>
<div class="clear"></div>