        <div class="fb-livechat"> <div class="ctrlq fb-overlay"></div><div class="fb-widget"> <div class="ctrlq fb-close"></div><div class="fb-page" data-href="https://www.facebook.com/Vinfast-Th%C4%83ng-Long-852670711775199/?modal=admin_todo_tour" data-tabs="messages" data-width="360" data-height="400" data-small-header="true" data-hide-cover="true" data-show-facepile="false"> </div><div class="fb-credit"> <a href="http://www.msvietnam.net/" target="_blank">Powered by MS Việt Nam</a> </div><div id="fb-root"></div></div><a href="https://www.facebook.com/Vinfast-Thăng-Long-852670711775199/?modal=admin_todo_tour" title="Gửi tin nhắn cho chúng tôi qua Facebook" class="ctrlq fb-button"> </a></div>
        <script src="../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9"></script>
        <script src="../ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>$(document).ready(function () { function detectmob() { if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) { return true; } else { return false; } } var t = { delay: 125, overlay: $(".fb-overlay"), widget: $(".fb-widget"), button: $(".fb-button") }; setTimeout(function () { $("div.fb-livechat").fadeIn() }, 8 * t.delay); if (!detectmob()) { $(".ctrlq").on("click", function (e) { e.preventDefault(), t.overlay.is(":visible") ? (t.overlay.fadeOut(t.delay), t.widget.stop().animate({ bottom: 0, opacity: 0 }, 2 * t.delay, function () { $(this).hide("slow"), t.button.show() })) : t.button.fadeOut("medium", function () { t.widget.stop().show().animate({ bottom: "30px", opacity: 1 }, 2 * t.delay), t.overlay.fadeIn(t.delay) }) }) } });</script>
        <div class="ms-popup1" id="mspopup1" style="background:#f0f0f0;color:#333333;padding:10px">
            <a class="ms-popup-close" id="clickclose"><img src="Content/themes/msvietnam/images/close.png" /></a>
            <br />
            <div class="ms-col-6 left" id="mspopup-left">
                <div class="padding-10">
                    
                </div>
            </div>
            <div class="ms-col-6 left" id="mspopup-right">
                <div class="padding-10">
                    <p style="text-align:center"><span style="color:#e74c3c"><span style="font-size:20px"><strong>YÊU CẦU BÁO GIÁ</strong></span></span></p>

<div style="text-align:center">Để nhận được "BÁO GIÁ ĐẶC BIỆT" và các "CHƯƠNG TRÌNH ƯU ĐÃI", Qúy khách vui lòng điền form báo giá dưới đây</div>

                    
<form action="http://www.vinfasthanoivn.com/PubContent/FormNoCaptcha" class="ms-form-block-37" method="post"><input name="__RequestVerificationToken" type="hidden" value="c7mkrmrN8sh-sHnljdxUe7Obbp78oPHPeG3etCQNC6HXEZkSe42xKe6U4OGZe01MpIkGdKrZsWtWiNaeW_WJeOpvCJuh1ZR_yzC1SYPR_Ag1" />        <div style="display:none">
            <input Value="http://www.vinfasthanoivn.com/" id="Address" name="Address" type="text" value="" />
        </div>
        <div class="ms-col-12 left ms-form-name" id="ms-form-block-div-name-37">
            <div class=" padding-5">
                <a style="font-weight:bold;">Họ và tên</a>
                <input class="ms-form-text" id="ms-form-block-name-37" name="Name" placeholder=" Họ và tên" type="text" value="" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="ms-col-12 left ms-form-phone" id="ms-form-block-div-phone-37">
            <div class="padding-5">
                <a style="font-weight:bold;">Số điện thoại</a>
                <input class="ms-form-text" id="ms-form-block-phone-37" name="Phone" placeholder=" Số điện thoại" type="text" value="" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="ms-col-12 left ms-form-email" id="ms-form-block-div-email-37">
            <div class="padding-5">
                <a style="font-weight:bold;">Email</a>
                <input class="ms-form-text" id="ms-form-block-email-37" name="Email" placeholder=" Email" type="text" value="" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="ms-col-12 left ms-search-city">
            <div class="padding-5">
                <a style="font-weight:bold;">Chọn dòng xe</a>
                <select class="ms-search-select" name="Body">
				<option value="Chọn dòng xe">Chọn dòng xe</option>
                    <option value="Vinfast Fadil">Vinfast Fadil</option>
					<option value="Vinfast Lux A">Vinfast Lux A</option>
					<option value="Vinfast Lux SA">Vinfast Lux SA</option>
					<option value="Chevrolet Corolado">Chevrolet Corolado</option>
					<option value="Chevrolet Traiblazer">Chevrolet Traiblazer</option>
                </select>
            </div>
            <div class="clear"></div>
        </div>
		<div class="ms-col-12 left ms-search-city">
            <div class="padding-5">
                <a style="font-weight:bold;">Hình thức thanh toán</a>
                <select class="ms-search-select" name="Description">
				<option value="Hình thức thanh toán">Hình thức thanh toán</option>
                    <option value="Trả góp">Trả góp</option>
					<option value="Trả hết">Trả hết</option>
                </select>
            </div>
            <div class="clear"></div>
        </div>
        <div class="ms-col-12 left ms-form-company" id="ms-form-block-div-company-37">
            <div class="padding-5">
                <a style="font-weight:bold;">Công ty</a>
                <input class="ms-form-text" id="ms-form-block-company-37" name="Company" placeholder=" Công ty" type="text" value="" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="ms-col-12 left" id="captchap-mes-37"></div>
        <div class="ms-col-12 left ms-form-input" id="ms-form-block-div-button-37">
            <div class="padding-5">
                <a style="font-weight:bold;"></a>
                <div id="input-submit-37">
                    <input type="submit" value="ĐĂNG KÝ" class="ms-form-submit form2" id="ms-form-block-button-37" />
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
</form><style>#ms-form-block-button-37{background: #1394c5;color: #ffffff;}</style>
                </div>
            </div>
            <style>.form2 {background: #1394c5;color: #ffffff;}</style>
        </div>
        <a class="clickopen"><img src="Content/themes/msvietnam/images/icon3.jpg" /></a>
        <div class="hotline-fixed hotline-fixed-6">
            <a href="tel:0941992662" mypage="" class="call-now" rel="nofollow" onclick="return gtag_report_conversion('tel:0941992662')">
                <div class=" mypage-alo-phone">
                    <div class="animated infinite zoomIn mypage-alo-ph-circle go"></div>
                    <div class="animated infinite pulse mypage-alo-ph-circle-fill go"></div>
                    <div class="animated infinite tada mypage-alo-ph-img-circle go"></div>
                </div>
            </a>
            <div class="hotline-fixed-6-text">
                <div class="hotline-fixed-6-text-hotline">
                    <a href="tel:0941992662">0941 99 2662</a>
                </div>
            </div>

        </div>
        <a class="clickzalo" href="https://zalo.me/0941992662" target="_blank"><img src="Content/themes/msvietnam/images/zalo.png" /></a>



</div>

    
    <div class="full-width" style="background:#fff; color:#333" id="msvietnam-copyright">
        <div class="ms-col-12 center">
            <div class="padding-10">
                <a href="http://www.msvietnam.vn/">Thiết kế website</a> bởi <a href="http://www.msvietnam.vn/">MS Việt Nam</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
    <a class="clicktop" href="#top"><img src="Content/themes/msvietnam/images/top.png" /></a>
    
    
    <script src="bundles/jquery23f8?v=cQtN_NKJrZqJmEKbUPfhU6cHaSQhkeVs2IYTW6GfzjQ1"></script>

    
    <!--script src="https://uhchat.net/code.php?f=15e073"></script-->

    <!--div id="divAdLeft" style="display: none; position: absolute; top: 0px;">
        <a href="#">
            <img src="#" width="120" />
        </a>
    </div>
    <div id="divAdRight" style="display: none; position: absolute; top: 0px;">
        <a href="#">
            <img src="#" width="120" />
        </a>
    </div>
    <script type='text/javascript'>
        document.write("<script type='text/javascript' language='javascript'>MainContentW = 1200;LeftBannerW = 120;RightBannerW = 120;LeftAdjust = 0;RightAdjust = 0;TopAdjust = 120;ShowAdDiv();window.onresize=ShowAdDiv;;<\/script>");
    </script-->
    

    <script type="text/javascript">
        function heartBeat() {
            $.get("/Home/SessionLog", function (data) { });
        }
        $(function () {
            setInterval("heartBeat()", 1000 * 180); // 180s gửi request một lần
        });
    </script>