<!-- start footer Area -->
<footer>
	<div class="full-width block-20" style="background-image:url(images/files/VINFAST/background_footer.jpg);background-color:#14264a;color:#ffffff;" id="block-20" data-aos="none">
		
		
		<div class="full-width block-20-2">
			<div class="ms-1200">
				<div class="ms-col-12 left">
					<div class="padding-20">
						<div class="ms-col-5 left block-21" style="background-image:url();background:;color:#ffffff;" id="block-21" data-aos="none">
							<div class="padding-10 ">
								<h2><span style="line-height:2"><span style="color:#ffffff"><strong>ĐẠI LÝ VINFAST THĂNG LONG</strong></span></span></h2>
								
								<p><span style="line-height:2">Địa chỉ: 68 Trịnh Văn Bô, P. Phương Canh, Nam Từ Liêm, Hà Nội</span></p>
								<p><span style="line-height:2">Hotline: </span>0941 99 2662</p>
								<p><span style="line-height:2">Website: </span>www.vinfatshanoi.com<br />
							Gmail: hunglm.tlc@gmail.com</p>
							
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="ms-col-3 left block-10" style="background-image:url();background:;color:#ffffff;" id="block-10" data-aos="none">
						<div class="padding-10 ">
							<h2><span style="line-height:2"><strong>VINFAST</strong></span></h2>
							
							<p><span style="line-height:2"><a href="lux-a-20-m2.html">Vinfast Lux A 2.0</a></span></p>
							<p><span style="line-height:2"><a href="lux-sa-20-m60.html">Vinfast Lux Sa 2.0</a></span></p>
							<p><span style="line-height:2"><a href="vinfast-fadil-c109.html">Vinfast Fadil</a></span></p>
							
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="ms-col-4 left block-38" style="background-image:url();background:;color:#ffffff;" id="block-38" data-aos="none">
						<div class="padding-10 ">
							<h2><span style="line-height:2"><strong>THEO DÕI FACEBOOK</strong></span></h2>
							<div id="fb-root"></div>
							<script>
							(function (d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s); js.id = id;
							js.src = "../connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.4";
							fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
							<div class="fb-page" data-href="https://www.facebook.com/Vinfast-Th%C4%83ng-Long-852670711775199/?modal=admin_todo_tour&amp;zdlink=Uo9XRcHoRsba8ZeYOszjBcPXOsLYRszhBcjXT65kOI8i8cblSo8wUo9pOsXbRMLVTN9i8ZeYUc5iRoqoE3GuE38oCJKwN2zSBo8i8c5mS6ba8ZeYCZWqE3WoCZ4r8drz" data-width="300" data-height="auto" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
								<div class="fb-xfbml-parse-ignore">
									<blockquote cite="https://www.facebook.com/Vinfast-Th%C4%83ng-Long-852670711775199/?modal=admin_todo_tour&amp;zdlink=Uo9XRcHoRsba8ZeYOszjBcPXOsLYRszhBcjXT65kOI8i8cblSo8wUo9pOsXbRMLVTN9i8ZeYUc5iRoqoE3GuE38oCJKwN2zSBo8i8c5mS6ba8ZeYCZWqE3WoCZ4r8drz">
										<a href="https://www.facebook.com/Vinfast-Thăng-Long-852670711775199/?modal=admin_todo_tour&amp;zdlink=Uo9XRcHoRsba8ZeYOszjBcPXOsLYRszhBcjXT65kOI8i8cblSo8wUo9pOsXbRMLVTN9i8ZeYUc5iRoqoE3GuE38oCJKwN2zSBo8i8c5mS6ba8ZeYCZWqE3WoCZ4r8drz"></a>
									</blockquote>
								</div>
							</div>
							
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
</footer>
<!-- End footer Area -->