		<div class="box-form-duan wow pulse">
			<div class="box-content-form">
				<h4>Đăng ký nhận thông tin bảng giá, bảng hàng</h4>
				<form method="POST" action="" name="registerduan" id="registerduan">
					<input class="textbox-form-duan" name="contact_name" id="contact_name" type="text" placeholder="Họ tên *"/>
					<input class="textbox-form-duan" name="contact_telephone" id="contact_telephone" type="text" placeholder="Điện thoại *"/>
					<input class="textbox-form-duan" name="contact_email" id="contact_email" type="text" placeholder="Email *"/>
					<textarea class="text-area-form-duan" name='message' id='message'  placeholder="Nội dung yêu cầu"></textarea>
					<input type="hidden" name="module" value="contact"/>
					<input type="hidden" name="task" value="save"/>
					<input type="hidden" name="view" value="contact"/>
					<input type="hidden" name="Itemid" value=""/>
					<!--
					<div class="box-captra">
						<label style="color: #fff;">Mã bảo mật</label>
						<input style="width: 50px;float: left;" type="text" id="txtCaptcha" value="" name="txtCaptcha" size="5" />
						<img style="float: left; margin:0px 0px 0px 5px;" id="imgCaptcha" src="http://thevesta.org/libraries/jquery/ajax_captcha/create_image.php" />
						<div style="clear: both;height: 10px;display:block;"></div>
					</div>
					-->
					<input type="submit" value="Đăng ký ngay" class="button-form-register" />
				</form>
			</div><!--End box-content-form-->
		</div><!--End box-form-duan-->