<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>


{% if site.google_analytics %}
  <!-- Asynchronous Google Analytics snippet -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics }}', 'auto');  
    ga('require', 'linkid', 'linkid.js');
    ga('require', 'displayfeatures');
    ga('require', 'ec');

    {% if(productPages contains page.layout) %}

    ga('ec:addProduct', {
      'id': '{{ page.sku }}',
      'name': '{{ page.title }}',
      'category': '{{ page.layout }}'
    });
    ga('ec:setAction', 'detail');

    {% endif %}

    ga('send', 'pageview');

  </script>
{% endif %}


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ site.google_tag_manager_id }}');</script>
<!-- End Google Tag Manager -->


<meta name="google-site-verification" content="{{ site.google_verify }}" />


<script src="bundles/owlcarousel8060?v=c90iDFh5VXIw0UTiyqLZVeW54HT4As3QLTRplUgXUuQ1"></script>


<script>
  var msmenu = jQuery.noConflict();
  jQuery(document).ready(function ($) {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 80) {
        $('#block-44').addClass("fixmenu");
        $('#sidebar').addClass("fixmenu2");
      }
      else {
        $('#block-44').removeClass("fixmenu");
        $('#sidebar').removeClass("fixmenu2");
      }
    })
  })

 jQuery(document).ready(function ($) {
$('.owl-block-148').owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 6000,
        responsiveClass: true,
        responsive: { 0: { items: 1, nav: false }, 1000: { items: 1,  nav: false},  5000: {  items: 2,  nav: false }, }  });
$('.owl-block-135').owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 6000,
        responsiveClass: true,
        responsive: { 0: { items: 2, nav: false }, 1000: { items: 3,  nav: false},  5000: {  items: 3,  nav: false }, }  });
$('.owl-block-159').owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 6000,
        responsiveClass: true,
        responsive: { 0: { items: 2, nav: false }, 1000: { items: 3,  nav: false},  5000: {  items: 3,  nav: false }, }});
$('.owl-block-161').owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 6000,
        responsiveClass: true,
        responsive: { 0: { items: 2, nav: false }, 1000: { items: 3,  nav: false},  5000: {  items: 3,  nav: false }, }});
$('.owl-block-162').owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 6000,
        responsiveClass: true,
        responsive: { 0: { items: 2, nav: false }, 1000: { items: 3,  nav: false},  5000: {  items: 3,  nav: false }, }});
$('.owl-block-163').owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 6000,
        responsiveClass: true,
        responsive: { 0: { items: 2, nav: false }, 1000: { items: 3,  nav: false},  5000: {  items: 3,  nav: false }, }});
});

</script>