	<!--Chong copy
	<script type="text/javascript" src="https://sites.google.com/site/bituotblog/disable-copy.js"></script>
	<style>
	body{
	-moz-user-select: none !important;
	-webkit-touch-callout: none!important;
	-webkit-user-select: none!important;
	-khtml-user-select: none!important;
	-moz-user-select: none!important;
	-ms-user-select: none!important;
	user-select: none!important;
	}
	</style>
	-->


	    <style>
.ms-popup1{ animation-delay: 10s;}
.popupopen1{animation-delay: 0s;}
#block-154 .ms-col-6 {width: 49%;}
#block-154 p{font-size:20px;}
#block-154 .ms-1200 {width:100%;}
#phone1 {background: #28e52e;}
#phone2 {background: #0fa8e2;}
#datcoc {background: red;color: white;width: 60%;margin-left: 18%;cursor: pointer;}
#block-136 {margin:10px;}
#block-137 {margin:10px;}
#block-138 {margin:10px;}
#block-148 .owl-carousel .owl-item img{MARGIN-LEFT: 65%;width: 30%;BORDER-RADIUS: 100PX;}
#block-143 img{max-width: 25%;}
#block-133 p{font-size:18px;}
#block-111 .ms-1200 img{width:100%;;}
#block-10 a{color:#fff}
.ms-popup1{width: 33%;left:33%}
#mspopup-left{display:none}
#mspopup-right{width: 100%}
#block-157 .ms-col-4 {width: 30%;}
#block-157 { margin: 10px;}
#block-158 .ms-col-4 {width: 30%;}
#block-158 { margin: 10px;}
#block-56 .ms-col-12 {
    width: 100%;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #ffffff;
    box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.5);}
#block-76 .ms-col-12 {   width: 100%;  border-style: solid;  border-width: 2px 2px 2px 2px;  border-color: #ffffff;  box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.5);}
#block-27  .stellarnav.light,  #block-27   .stellarnav.light ul ul {    background: none;}
#block-27  .stellarnav>ul>li:hover a {color: #f40000;background: #fff;}
#block-58 .ms-1200{width:100%}
#block-77 .title-album3 {    font-weight: bold;    color: #fff;    text-decoration: none;  font-size: 18px;}
#block-2 {position: relative;}
#block-85 {position: absolute;top:50px;z-index: 9;left: 10%;width: 30%;      border-radius: 10px;}
.fixmenu {position: fixed; top : 0px; z-index:999;}
#block-53 .title-album3{color:#fff;font-size:20px}
#block-2 .ms-1200{width:100%}
#index-1 .home-content1 { box-shadow: 0 0 3px #00000054;}
#index-1 .title-list h3 { text-align: center;  line-height: 2; color: #337ab7; font-size: 16px;}
#index-1 .home-content1  .padding-lr-5 { text-align: center;}
.ms-price {  font-size: 16px;  font-weight: bold;}
.yeucau-v1 {background: #3e3e3e;  border: 6px solid #ee2d24;  border-radius: 15px;padding: 15px 10px;  color: #fff; margin: 0 10px; cursor: pointer;}
#block-160	.thumb-img-album img {  display: none;}
#block-160	{margin-top:20px;margin-bottom:20px;}
#mspopup1 {box-shadow: 0px 30px 40px 0px rgba(0,0,0,0.2);}
.is-divider {    
margin: auto;
height: 3px;
    display: block;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    max-width: 130px;
    background-color: #337ab7;}
#block-144	{margin-top:20px;margin-bottom:20px;}
#block-148 {    box-shadow: 0 0 3px #00000054;}
#block-44 {    box-shadow: 0 0 3px #00000054;}
.fixmenu2 {  position: fixed!important;  float: right; right: 100px; width: 20%; top: 80px; z-index: 9999;}
#block-49 .sidebar-box {background: #fff;}
#block-49 .sidebar-content {background: #fff;}
@media(max-width:990px){
#block-27 .padding-10 {  padding: 0px;}
.stellarnav.light .menu-toggle {  color: #c4161c;}
#block-25 img{height:60px;}
.stellarnav>ul>li:nth-child(5){left: 0px;}
#block-85 {display:none}
.ms-popup1{width: 85%;left:4%}
#block-131 {display:none;}
#block-154{position: fixed;bottom: 45px;}
#block-154 .ms-col-6 {width: 47%;}
#block-154 p {font-size: 14px;}
#block-148 .owl-carousel .owl-item img {MARGIN-LEFT: 35%!important;}
.ms-col-4 {width: 100%!important;}
.fixmenu #block-25{display:none}
.fixmenu2 {  position: unset!important; }
}





</style>