<div class="full-width block-44" style="background-image:url();background-color:#fff;color:;" id="block-44" data-aos="none">
    
    
    <div class="full-width block-44-2">
        <div class="ms-1200">
            <div class="ms-col-12 left">
                <div>
                    <div class="ms-col-2 left block-25" style="background-image:url();background:;color:;" id="block-25" data-aos="none">
                        <div class="">
                            <div style="margin-top:5px; text-align:center"><a href="index.html"><img alt="" src="images/logo/logo-vinfast.png" /></a></div>
                            
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="ms-col-8 left block-27" style="background-image:url();background:;color:;" id="block-27" data-aos="none">
                        <div class="padding-10 ">
                            
                            <div id="main-nav" class="stellarnav">
                                <ul>
                                    <li class="menu-toggle-ul-li">
                                        <a href="index.html" title="Trang chủ" >
                                            Trang chủ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="gioi-thieu-m57.html" title="Giới thiệu">
                                            Giới thiệu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="vinfast-m64.html" title="VINFAST">
                                            VINFAST
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="lux-a-20-m2.html" title="LUX A 2.0">
                                                    LUX A 2.0
                                                </a>
                                            </li>
                                            <li>
                                                <a href="lux-sa-20-m60.html" title="LUX SA 2.0">
                                                    LUX SA 2.0
                                                </a>
                                            </li>
                                            <li>
                                                <a href="fadil-m45.html" title="FADIL">
                                                    FADIL
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="chevrolet-m63.html" title="CHEVROLET">
                                            CHEVROLET
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="colorado-m68.html" title="Colorado">
                                                    Colorado
                                                </a>
                                            </li>
                                            <li>
                                                <a href="traiblazer-m62.html" title="TRAIBLAZER">
                                                    TRAIBLAZER
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="tra-gop-m69.html" title="Mua xe Trả g&#243;p">
                                            Mua xe Trả g&#243;p
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tin-tuc-m61.html" title="Tin tức">
                                            Tin tức
                                        </a>
                                    </li>
                                    <li>
                                        <a href="lien-he-m46.html" title="Li&#234;n hệ">
                                            Li&#234;n hệ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <style>.menu {background: #fff;color: #c4161c;}</style>
                            <style>
                            .stellarnav.light, .stellarnav.light ul ul{background: #fff;}
                            .stellarnav.light li a{color: #c4161c;}
                            .stellarnav.mobile.light ul{background: #fff;}
                            </style>
                            
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="ms-col-2 left block-131" style="background-image:url();background:;color:;" id="block-131" data-aos="none">
                        <div class="padding-tb-20 ">
                            
                            <div class="ms-search-form1">
                                <form action="http://www.vinfasthanoivn.com/Home/Search" method="get">
                                    <input type="text" class="ms-search-input1" placeholder="  Nội dung tìm kiếm" name="keyword" />
                                    <input type="submit" value="" class="ms-search-submit1 search" />
                                </form>
                                <div class="clear"></div>
                            </div>                                            <style>.search {background: ;color: ;}</style>
                            
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>